@model string;

<div class="text-white" style="position: fixed; right: 50px; bottom: 75px; z-index: 2;">
    <a class="btn btn-success" asp-controller="@Model" asp-action="Create"><i class="bi bi-plus-circle"></i> Add New</a>
</div>