@model Cinema

@{
    ViewData["Title"] = "Delete Cinema";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete Actor for @Model.Name</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img class="border-info rounded-circle" style="max-width: 150px" id="ShowLogo" />
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="Logo"></label>
                    <input class="form-control" asp-for="Logo" readonly />
                    <span class="text-danger" asp-validation-for="Logo"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" readonly />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="Description"></label>
                    <input class="form-control" asp-for="Description" readonly />
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input class="btn btn-danger float-right" type="submit" value="Confirm" />
                    </form>
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ShowLogo');
            output.src = $("#Logo").val();
        })
    </script>
}